html,body,div,h1,h2,h3,h4,h5,p{
    padding:0;
    margin:0;
}
body {
    background: #D1B9A1;
    box-sizing: border-box;
}

header {
    height: 200px;
}
header>h1,header>p{
    padding-left:20px;
}

header>h1{
    text-align: center;
    padding-top: 80px;
    font-size: 40px;
    font-family:"Brush Script Std", cursive;
    font-weight: bold;
}
header>p{
    text-align: center;
    padding-top:15px;
}


.container {
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

.personal {
    display: flex;
    flex-flow: column;
    background: rgb(233, 233, 233);
    border-top-left-radius: 100px;
}

.personal>div {
    padding: 10px 10px;
}

.personal span {
    display: block;
}

.baseMess {}

.personalNav {
    background: rgba(155, 168, 54, 0.7);
    height: 40px;
    text-align: center;
    margin-right: 50px;
    margin-left: 10px;
    padding-right: 100px;
    line-height: 40px;
    color: white;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.imgContainer {
    margin-top: -100px;
    text-align: center;
}

.imgContainer>img {
    border-radius: 45%;
    width: 200px;
}

.skills {}

.habit {}

.project {
    width: 55vw;
    flex-grow: 0.618;
    padding-left: 30px;
    border-left: 5px gray solid;
    border-radius: 3px;
    background: rgb(254, 254, 254);
    border-top-right-radius: 100px;
}

h2>hr{
    width:85%;
    display: block;
    overflow: hidden;
    text-align: left;
}

@media only screen and (max-width: 480px) {
    .container {
        display: block;
        width: 80vw;
    }
    .personal {
        border-top-right-radius: 100px;
    }
    .project {
        width: 80vw;
        padding: 0;
        border-left: none;
        background: rgb(233, 233, 233);
        border-top-right-radius: 0px;
    }
    .project>article {
        padding: 10px;
    }
}